
	body{
		font-family: Times New Roman;
		background-image: url("fundo_azul-filtered.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width:100%;
		margin-left: 5px;
		background-attachment: fixed;
	}	
    
    a{

    	font-size: 200%;
    	padding-left: 10px;

    }

    .box1{

    	margin-left: 200px;
        height: 100%;
        width: 70%;
    }

    .analise1{

    
      font-size: 20px;
      width: 11%;
      margin-left: 400px;

 }

    .analiseum{
    	text-align: justify;
    	width: 100%;
    	height: 100%;
    	font-size: 150%;
    }

  article{
        clear: both;
        padding-top: 0.5em;
    }

    h2{
        color: green;
    }


    @media print {
        nav{
            display: none;
        }

        h2 {
            color: black;
        }
    }  
.img{
    width: 250%;
}
.analiseum {
    text-align: justify;
    width: 130%;
    height: 100%;
    font-size: 150%;
    margin-left: -115px;
}